header,section,footer
p{
	width: 960px;
    margin-right: auto;
    margin-left: auto;
    border: gray 0px solid;
    
}
header {
    height: 50px;
    background-color: ;/**/
    margin-bottom: 0px /*es el espaciado de abajo :D*/

}
body {background-color: ;}
/*#ff88ff*/
ul{
    margin:5px 3px;
    padding:5px 2px;
    list-style-type: none;
    font-family: cursive;
    text-align: center;
}

ul.menu li{display: inline-block;}
ul.menu li a{display: inline-block;
    width: 80px;
    font-family: sans-serif;
    font-weight: ;
    height: 2px;
   background-color: transparent;
   border-radius: 10px;
   padding: 15px  30px;
   

    margin-bottom: 0px;
    color: #FF2D00;/**/
    text-decoration: none;
    
    line-height: 0px;
    font-weight: bold;
    border-color: #F5DA81;/**/
    border: 5px solid #F5DA81;
   }
    ul.menu li a:hover{
    background-color: transparent;
    border: 5px solid #FF957E;
    color: #F5DA81
}

#logo{
	width: 316px;/*ancho*/
    height: 50px;/*altura*/
    background-color: ;/*#008170*/
    float: left;
}
#menu{
	width: 960px ;/*ancho*/
    height: 5px;/*altura*/
    background-color: #71DFE7; /**/
    float: left;
}

#foto {
    width: 477px;
    height: 450px;
    
    float: left;
    margin-bottom: 5px;
}
  #txt_arriba {
    width: 477px;
    height: 45px;
    background-color: #03fcc6;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}
#txt_abajo {
    width: 477px;
    height: 399px;
    background-color: #03fcc6;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}

#historial {
    float: left;
    width:400px 200px;
    height:305px;
    background-color: #ff957e;
    margin-left: 183px;
    margin-bottom:8px; 
    align-items: center;
}

.caja1 {/*cv*/
    background-color: #88ffff;
    width: 477px;/*ancho*/
    height: 50px;/*altura*/
    float: left;
    margin:  1px;
    text-align: center;
}
.caja2 { /*descrip*/
    background-color: #ffff88;
    width: 477px;/*ancho*/
    height: 50px;/*altura*/
    float: left;
    margin:  1px;
}
.caja3 {/*descrip*/
    background-color: #ffff88;
    width: 477px;/*ancho*/
    height: 250px;/*altura*/
    float: right;
    margin:  1px;
    text-align-last: center;
}
.caja4 { /*cv*/
    background-color: #88ffff;
    width: 477px;/*ancho*/
    height: 250px;/*altura*/
    float: left;
    margin:  1px;
}
#contactos{
    width:960px; /*ancho*/
    height:90px; /*alto*/
    text-align: left;
    line-height: 5px;
}