header,section,footer
p{
	width: 960px;
    margin-right: auto;
    margin-left: auto;
    border: gray 3px solid;
    
}
header {
    height: 50px;
    background-color: #283747;
    margin-bottom: 3px /*es el espaciado :D*/
}
ul{
    margin:5px 3px;
    padding:5px 2px;
    list-style-type: none;
    font: bold;
    text-align: center;
}
ul.horizontal li {
    display: inline;
}
ul.horizontal li a {
    display: inline-block;
    width: 100px;
    height: 2px;
    /*#F3F781*/
    margin-bottom: 500px;
    color: #F5DA81;/*#FF4000*/
    text-decoration: none;
    text-align: center;
    line-height: 5px;
    font-weight: bold;
    border-color: ;/*#F5DA81*/
    border: 0px solid #F5DA81;
    
}

#logo{
	width: 316px;/*ancho*/
    height: 50px;/*altura*/
    background-color: ;/*#008170*/
    float: left;
}
#menu{
	width: 960px;/*ancho*/
    height: 5px;/*altura*/
    background-color: #71DFE7;/**/
    float: left;
}
#foto {
    width: 477px;
    height: 450px;
    background-color: #56fc03;
    float: left;
    margin-bottom: 5px;
}
  #txt_arriba {
    width: 477px;
    height: 45px;
    background-color: #03fcc6;
    float: right;
    margin-bottom: 5px;
}
#txt_abajo {
    width: 477px;
    height: 399px;
    background-color: #03fcc6;
    float: right;
    margin-bottom: 5px;
}
#iconocu {
    width: 477px;
    height: 100px;
    background-color: #6b03fc;
    float: right;
    margin-bottom: 10px;

}
#box1 {
    width: 477px;
    height: 328px;
    background-color: #6b03fc ;
    float: left;
    margin-bottom: 10px;

}
#iconoDescG {
    width: 477px;
    height: 100px;
    background-color: #009DAE;
    float: left;
    margin-bottom: 5px;

}
#box2 {
    width: 477px;
    height: 328px;
    background-color: #009DAE ;
    float: right;
    margin-bottom:5px;

}
#contactos{
    width:960px; /*ancho*/
    height:90px; /*alto*/
    text-align: left;
    line-height: 5px;
}