header,section,footer
p{
	width: 960px;
    margin-right: auto;
    margin-left: auto;
    border: gray 0px solid;
    
}
header {
    height: 50px;
    background-color: ;/**/
    margin-bottom: 0px /*es el espaciado de abajo :D*/

}
body {background-color: #283747;}
/**/
ul{
    margin:5px 3px;
    padding:5px 2px;
    list-style-type: none;
    font-family: cursive;
    text-align: center;
}

ul.menu li{display: inline-block;}
ul.menu li a{display: inline-block;
    width: 80px;
    font-family: sans-serif;
    font-weight: ;
    height: 2px;
   background-color: transparent;
   border-radius: 10px;
   padding: 15px  30px;
   

    margin-bottom: 0px;
    color: #FF2D00;/**/
    text-decoration: none;
    
    line-height: 0px;
    font-weight: bold;
    border-color: #F5DA81;/**/
    border: 5px solid #F5DA81;
   }
    ul.menu li a:hover{
    background-color: transparent;
    border: 5px solid #FF957E;
    color: #F5DA81
}

#logo{
	width: 316px;/*ancho*/
    height: 50px;/*altura*/
    background-color: ;/*#008170*/
    float: left;
}
#menu{
	width: 960px;/*ancho*/
    height: 5px;/*altura*/
    background-color: ;/*#71DFE7*/
    float: left;
}

#foto {
    width: 477px;
    height: 450px;
    
    float: left;
    margin-bottom: 5px;
}
  #txt_arriba {
    width: 477px;
    height: 45px;
    background-color: #03fcc6;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}
#txt_abajo {
    width: 477px;
    height: 399px;
    background-color: #03fcc6;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}
#iconocu {
    width: 477px;
    height: 100px;
    background-color: #6b03fc;
    float: right;
    margin-bottom: 10px;

}
#box1 {
    width: 477px;
    height: 328px;
    background-color: #6b03fc ;
    float: left;
    margin-bottom: 10px;

}
#iconoDescG {
    width: 477px;
    height: 100px;
    background-color: #009DAE;
    float: left;
    margin-bottom: 5px;

}
#box2 {
    width: 477px;
    height: 328px;
    background-color: #009DAE ;
    float: right;
    margin-bottom:5px;

}
#contactos{
    width:960px; /*ancho*/
    height:90px; /*alto*/
    text-align: left;
    line-height: 5px;
}